.allHome{
  overflow-x: hidden;

}
.hero{
  display:grid;
  /* align-items: center; */
  position: relative;
}
.background{
  display:flex;
  align-items:center;
  
  /* justify-content:flex-start; */
  /* justif */
}
.backimg1{
  margin-left:-2rem;
  margin-top:2rem;

}
.backimg2{
  margin-top:16rem;

  margin-left:-50rem;
  z-index:-1;
}
.backimg3{
  margin-top:2rem;

  margin-left:-32rem;
  z-index:-1;
}
.girl{
  margin-top:12.5rem;

  margin-left:-28.5rem;
  height:27rem;
} 

.tittles{
  justify-self: center;

  padding: 0 2rem;
  position: absolute;
  margin-top: 3rem;
  /* background-color: rgb(99, 221, 255); */
  display: grid;
  grid-gap:3rem;
  max-width: 82rem;
  align-items: center;
  justify-content: center;
}
.search{

  display: grid;
  position: relative;
  
}
.search input{

  /* width: 100%; */
  background-color: transparent;
  /* max-width:  911px; */
  height: 65px;
  border:2px solid  #0E8585 ;
  border-radius: 1rem;
  font-size: 26px;
  font-weight: bold;
  padding-left: 5.3rem;
  opacity: 0.5;
  color:#D0DEDE;
}
.search input:active{
  border:2px solid  #0d7878 ;
  
}
.search img{
  position: absolute;
  align-self: center;
  left:2.5rem;
  cursor: pointer;


}



.tittles h1{
  width: 100%;
  max-width: 75%;
  justify-self:center;

  font-size: 30px;

  color:#2F8685;
} 

.tittles button{
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  width: 191px;
  height: 62px;
  background-color: #2F8685;
  justify-self:center;

  border-radius: 1rem;

} 

@media (max-width: 1102px) {
  .search input,.tittles button{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  .tittles h1{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

}
